.cart-dropdown {
  position: absolute;
  width: 300px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 78.3px;
  right: 0;
  z-index: 5;

  .my-cart {
    font-weight: bold;
    margin-bottom: 4px;
    text-align: center;
    letter-spacing: 5px;
  }

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  .cart-items::-webkit-scrollbar {
    display: none;
  }

  button {
    margin-top: auto;
  }
}
